{
    "overrides": [
        {
            "files": [
                "*.java"
            ],
            "options": {
                "parser": "java",
                "tabWidth": 4,
                "singleQuote": true,
                "trailingComma": "all"
            }
        }
    ]
}